<section id="EnregistrementCandidat" ng-controller="utilisateurCtrl" 
	ng-init="(user.idUtilisateur && user.idUtilisateur !== '')?rechercherUtilisateur(user.idUtilisateur):init()">
    <div class="container" >
        <div class="row">
            <div class="col-lg-6 text-center">
                <h1>S'enregistrer</h1>
                <form name="utilisateurForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-3">Nom (*)</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" required ng-model="utilisateur.nom" name = "nom" ><br>
                            <div ng-if="utilisateurForm.nom.$dirty" ng-messages="utilisateurForm.nom.$error">
                                <div class="alert" ng-message="required">Veuillez renseigner ce champ!</div>
                            </div><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-3">Prenom (*)</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" required ng-model="utilisateur.prenom" name = "prenom" ><br>
                            <div ng-if="utilisateurForm.prenom.$dirty" ng-messages="utilisateurForm.prenom.$error">
                                <div class="alert" ng-message="required">Veuillez renseigner ce champ!</div>
                            </div><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-3">Voie</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" required ng-model="utilisateur.voie" name = "voie" ><br>
                            <div ng-if="utilisateurForm.voie.$dirty" ng-messages="utilisateurForm.voie.$error">
                                <div class="alert" ng-message="required">Veuillez renseigner ce champ!</div>
                            </div><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-3">Code Postal</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" required ng-model="utilisateur.code_postal"
							ng-pattern="/[\d]{5}/" name = "code_postal"><br>
                            <div ng-if="utilisateurForm.code_postal.$dirty" ng-messages="utilisateurForm.code_postal.$error">
                                <div class="alert" ng-message="pattern">Veuillez entrer un code postal valide!</div>
                                <div class="alert" ng-message="required">Veuillez renseigner ce champ!</div>
                            </div><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-3">Ville</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" required ng-model="utilisateur.ville" name = "ville" ><br>
                            <div ng-if="utilisateurForm.ville.$dirty" ng-messages="utilisateurForm.ville.$error">
                                <div class="alert" ng-message="required">Veuillez renseigner ce champ!</div>
                            </div><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-3">Telephone Fixe</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" required ng-model="utilisateur.telephone_fixe"
							ng-pattern="/[\d]{10}/" name = "telephone_fixe"><br>
                            <div ng-if="utilisateurForm.telephone_fixe.$dirty" ng-messages="utilisateurForm.telephone_fixe.$error">
                                <div class="alert" ng-message="pattern">Veuillez entrer un téléphone fixe valide!</div>
                                <div class="alert" ng-message="required">Veuillez renseigner ce champ!</div>
                            </div><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-3">Telephone Portable (*)</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" required ng-model="utilisateur.telephone_portable"
							ng-pattern="/[\d]{10}/" name = "telephone_portable"><br>
                            <div ng-if="utilisateurForm.telephone_portable.$dirty" ng-messages="utilisateurForm.telephone_portable.$error">
                                <div class="alert" ng-message="pattern">Veuillez entrer un téléphone portable valide!</div>
                                <div class="alert" ng-message="required">Veuillez renseigner ce champ!</div>
                            </div><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-3">Email (*)</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" required ng-model="utilisateur.mail"
							ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" name = "mail"><br>
                            <div ng-if="utilisateurForm.mail.$dirty" ng-messages="utilisateurForm.mail.$error">
                                <div class="alert" ng-message="pattern">Veuillez entrer un email valide!</div>
                                <div class="alert" ng-message="required">Veuillez renseigner ce champ!</div>
                            </div><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-3">Mot de passe (*)</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" required ng-model="utilisateur.password" name = "password"><br>
                            <input type="password" class="form-control" required ng-pattern="utilisateur.password"
							ng-model="utilisateur.confirmPassword" name = "confirmPassword">
                            <div ng-show="utilisateurForm.confirmPassword.$error.pattern" class="form-group has-error">
                                <label class="alert">Les mots de passe ne correspondent pas</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-4 col-sm-5"> (*): champs obligatoires</label>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                            <button ng-if="user.idUtilisateur && user.idUtilisateur !== ''" type="submit"
							ng-click="mettreAJourUtilisateur()" class="btn btn-primary">mettre A jour</button>
                            <button ng-if="user.idUtilisateur==null" type="submit"
							ng-click="enregistrerUtilisateur()" class="btn btn-primary">Enregistrer</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 text-center"></div>
        </div>
    </div>
</section>
