<section id="EnregistrementCandidatOffre" ng-controller="utilisateurCtrl" ng-init="initFormulaireCandidatOffre()">
    <div class="container" >
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Postuler à l'offre : {{offre.titre}}</h1>
                <form name="utilisateurOffreForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-3">Nom (*)</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" required ng-model="offreUtilisateur.nom" name = "nom" ><br>
                            <div ng-if="utilisateurOffreForm.nom.$dirty" ng-messages="utilisateurOffreForm.nom.$error">
                                <div class="alert" ng-message="required">Veuillez renseigner ce champ!</div>
                            </div><br>
                         </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-3">Prenom (*)</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" required ng-model="offreUtilisateur.prenom" name = "prenom" ><br>
                            <div ng-if="utilisateurOffreForm.prenom.$dirty" ng-messages="utilisateurOffreForm.prenom.$error">
                                <div class="alert" ng-message="required">Veuillez renseigner ce champ!</div>
                            </div><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-3">Voie </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" required ng-model="offreUtilisateur.voie" name = "voie" ><br>
                            <div ng-if="utilisateurOffreForm.voie.$dirty" ng-messages="utilisateurOffreForm.voie.$error">
                                <div class="alert" ng-message="required">Veuillez renseigner ce champ!</div>
                            </div><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-3">Code Postal </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" required ng-model="offreUtilisateur.code_postal" ng-pattern="/[\d]{5}/" name = "code_postal" ><br>
                            <div ng-if="utilisateurOffreForm.code_postal.$dirty" ng-messages="utilisateurOffreForm.code_postal.$error">
                                <div class="alert" ng-message="required">Veuillez renseigner ce champ!</div>
                                <div class="alert" ng-message="pattern">Veuillez entrer un code postal valide!</div>
                            </div><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-3">Ville </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" required ng-model="offreUtilisateur.ville" name = "ville" ><br>
                            <div ng-if="utilisateurOffreForm.ville.$dirty" ng-messages="utilisateurOffreForm.ville.$error">
                                <div class="alert" ng-message="required">Veuillez renseigner ce champ!</div>
                            </div><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-3">Téléphone fixe </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" required ng-model="offreUtilisateur.telephone_fixe"  ng-pattern="/[\d]{10}/" name = "telephone_fixe" ><br>
                            <div ng-if="utilisateurOffreForm.telephone_fixe.$dirty" ng-messages="utilisateurOffreForm.telephone_fixe.$error">
                                <div class="alert" ng-message="required">Veuillez renseigner ce champ!</div>
                                <div class="alert" ng-message="pattern">Veuillez entrer un téléphone fixe valide!</div>
                            </div><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-3">Téléphone portable (*)</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" required ng-model="offreUtilisateur.telephone_portable"  ng-pattern="/[\d]{10}/" name = "telephone_portable" ><br>
                            <div ng-if="utilisateurOffreForm.telephone_portable.$dirty" ng-messages="utilisateurOffreForm.telephone_portable.$error">
                                <div class="alert" ng-message="required">Veuillez renseigner ce champ!</div>
                                <div class="alert" ng-message="pattern">Veuillez entrer un téléphone portable valide!</div>
                            </div><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-3">Mail (*)</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" required ng-model="offreUtilisateur.mail" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" name = "mail" ><br>
                            <div ng-if="utilisateurOffreForm.mail.$dirty" ng-messages="utilisateurOffreForm.mail.$error">
                                <div class="alert" ng-message="required">Veuillez renseigner ce champ!</div>
                                <div class="alert" ng-message="pattern">Veuillez entrer un email valide!</div>
                            </div><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-3">Curriculum Vitae (*) (.pdf, .doc, .docx)</label>
                        <div class="col-sm-8">
                            <button  style="width:100%" ngf-select ngf-pattern="'.pdf,.doc,.docx'" ngf-max-size="5MB"ng-model="CV" class="btn btn-primary" name="CV">Selectionner votre CV</button>
                            <p ng-if = "!CV.name && CV.name!=''">{{offreUtilisateur.curriculum_vitae}}</p>
                            <p ng-else>{{CV.name}}</p>
                            <div class="alert" ng-show="candidatureSpontanee.CV.$error.pattern">Ce format n'est pas accepté</div>
                            <div class="alert" ng-show="candidatureSpontanee.CV.$error.maxSize">La taille du fichier est limité à 5MB</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-3">Lettre de motivation  (.pdf, .doc, .docx)</label>
                        <div class="col-sm-8">
                            <button  style="width:100%" ngf-select ngf-pattern="'.pdf,.doc,.docx'" ngf-max-size="5MB" ng-model="LM" class="btn btn-primary" name="LM">Selectionner votre lettre de motivation</button>
                            <p ng-if = "!LM.name && LM.name!=''">{{offreUtilisateur.lettre_de_motivation}}</p>
                            <p ng-else>{{LM.name}}</p>
                            <div class="alert" ng-show="candidatureSpontanee.LM.$error.pattern">Ce format n'est pas accepté</div>
                            <div class="alert" ng-show="candidatureSpontanee.LM.$error.maxSize">La taille du fichier est limité à 5MB</div>
                        </div>
                    </div>
                    <div ng-repeat="competence in competencesOffre">
                        <div class="row">
                            <label class="col-sm-offset-1 col-sm-3">{{competence.titre}}</label>
                            <label class="col-sm-5">{{competence.description}}</label>
                            <span star-rating rating-value="competence.niveau" max="5" on-rating-selected="getSelectedRating(ratings)"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-3">Salaire actuel </label>
                        <div class="col-sm-8">
                            <input  type="text" class="form-control" required ng-model="offreUtilisateur.salaire_actuel" name = "salaire_actuel" ><br>
                            <div ng-if="utilisateurOffreForm.salaire_actuel.$dirty" ng-messages="utilisateurOffreForm.salaire_actuel.$error">
                                <div class="alert" ng-message="required">Veuillez renseigner ce champ!</div>
                            </div><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-3">Salaire souhaité </label>
                        <div class="col-sm-8">
                            <input  type="text" class="form-control" required ng-model="offreUtilisateur.salaire" name = "salaire" ><br>
                            <div ng-if="utilisateurOffreForm.salaire.$dirty" ng-messages="utilisateurOffreForm.salaire.$error">
                                <div class="alert" ng-message="required">Veuillez renseigner ce champ!</div>
                            </div><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-3">Durée de préavis</label>
                        <div class="col-sm-8">
                            <select class="form-control" required ng-model="offreUtilisateur.preavis" name = "preavis" ><br>
                                <option value="immediate">immediate</option>
                                <option value="1mois">1 mois</option>
                                <option value="2mois">2 mois</option>
                                <option value="2mois">3 mois</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-4 col-sm-5"> (*): champs obligatoires</label>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-5">
                            <button type="submit"  class="btn btn-primary" ng-click="submitCandidatureOffre()">Postuler</button>
                            <button type="submit"  class="btn btn-primary" ui-sref="root.carriere.espaceCandidat({idUtilisateur:offreUtilisateur.idUtilisateur})" >Retour</button>
                            <button type="submit"  class="btn btn-primary" ng-click="supprimerCandidatureOffre()">Supprimer</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 text-center"></div>
        </div>
    </div>
</section>
